@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins','lato',sans-serif,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
}
a:link,a:hover,a:visited,a:active{
  text-decoration: none;
  color: inherit;
}